# ----------------------------
# Android
# ----------------------------
*.iml
.gradle/
/local.properties
local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/

# ----------------------------
# Python
# ----------------------------
.venv/
__pycache__/
*.py[cod]
*.so

# ----------------------------
# Environment
# ----------------------------
.env
.env.*

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# macOS / Windows
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# IDE
# ----------------------------
.vscode/
